<tr>
    <td><%= user.first_name%> <%= user.last_name %></td>
    <td><%= user.email %></td>
    <td>
        <% if (user.user_status === 0) { %>
        <span class="badge badge-warning">کاربر معمولی</span>
        <% } %>
        <% if(user.user_status === 1){ %>
        <span class="badge badge-primary">مدیر</span>
        <% } %>
    </td>
    <td>
        <a href="/user/edit/<%= user.id%>">
            <i class="material-icons">
                edit
            </i>
        </a>
        <a href="/user/delete/<%= user.id%>">
            <i class="material-icons">
                delete
            </i>
        </a>
    </td>
</tr>